<div class="modal-header">
  <button ng-click="$close()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{data.title}}</h4>
</div>
<div class="modal-body share">
  <p>{{data.message}}</p>
  <input type="email" ng-model="model.email" class="form-control"
         placeholder="mail@pryklad.com" ng-keypress="onEnter($event)"/>
  <span>
    <br />
    <p><i class="fa fa-briefcase"></i> Owner: {{owner}}</p>
  </span>
  <span ng-if="emails.length>0">
    <p><i class="fa fa-users fa-fw"></i> Already shared to:</p>
    <ul class="shared-user">
      <li ng-repeat="email in emails">
        <i class="pull-right fa fa-times-circle-o pointer"
           ng-click="deleteUser($index)" ng-if="owner=='me'"></i>
        {{email}}
      </li>
    </ul>
  </span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$close()">
    <i class="fa fa-times fa-fw"></i> Close
  </button>
  <button type="button" class="btn btn-primary" ng-click="submit()" ng-bind-html="data.submitText"></button>
</div>