<div class="row header">

  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon add-link"><i class="fa fa-globe"></i></span>
      <input type="text" class="form-control" ng-model="link"
             placeholder="https://pryklad.com"
             ng-keypress="addLink($event)"
             required>
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" ng-click="addLink()">
          <i class="fa" ng-class="linkSaveSpinner ? 'fa-spinner fa-spin' : 'fa-hand-o-right'"></i>
        </button>
      </span>
    </div>
  </div>

  <div class="col-md-6 hidden-xs hidden-sm">
    <div class="input-group" dropdown>
      <span class="input-group-addon"><i class="fa fa-search"></i></span>

      <input type="text" class="form-control" ng-model="search"
             ng-change="onSearch()" placeholder="Search...">

      <div class="input-group-btn">

        <!--<button class="btn view-type-btn btn-primary" type="button" ng-click="gridMode = !gridMode">-->
          <!--<i class="fa" ng-class="gridMode ? 'fa-list' : 'fa-th'"></i>-->
        <!--</button>-->

        <button class="btn tags-filter-btn btn-danger dropdown-toggle" type="button">
          <i class="fa fa-tags"></i>
        </button>

      </div>

      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li ng-repeat="tag in tags"
            ng-class="tag.class+'-hover'">
          <a href ng-click="setFilter(tag.name)"><i class="fa fa-tag"></i> {{tag.name}}</a>
        </li>
        <li class="divider"></li>
        <li ng-click="setFilter({isFavourite:true})" class="primary-hover">
          <a href><i class="fa fa-star"></i> show favourite</a>
        </li>
        <li class="divider"></li>
        <li ng-click="setFilter('')" class="primary-hover">
          <a href><i class="fa fa-refresh"></i> show all</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<div class="row items links">
  <div class="row" data-images-loaded>
    <div class="link"
         ng-repeat="link in links | filter:filter">

      <div class="col-lg-3 col-md-4" ng-class="gridMode ? '' : 'hidden'">
        <div class="panel" ng-class="'panel-' + getLinkClass(link)">

          <div class="panel-heading">
            <i class="pull-right fa fa-trash-o pointer" ng-click="deleteLink(link, $index)"></i>

            <h3 class="panel-title"
                editable-text="link.title"
                buttons="no"
                blur="submit"
                onbeforesave="updateLinkTitle(link, $data)">
              <!--<img ng-src="https://www.google.com/s2/favicons?domain={{link.link}}">&nbsp;-->
              {{link.title || 'empty'}}
            </h3>
          </div>

          <div class="panel-body">
            <div class="link-image text-center pointer"
                 ng-click="goTo(link)">
              <img ng-if="!link.preloader" ng-show="!showQr" ng-src="/uploads/{{link.user}}/links/{{link.short}}.jpg"
                   onerror="this.src='/img/default.png'"/>
              <img ng-if="!showQr && link.preloader" ng-src="/img/default.png"/>
              <qr image="true" ng-show="showQr" text="host+'/l/'+link.short"></qr>
            </div>
            <div class="link-tags">
              <tags-input ng-model="link.tags"
                          on-tag-added="addTag(link, $tag)"
                          on-tag-removed="removeTag(link, $tag)"
                          min-length="2"
                          add-on-comma="false"
                          display-property="name"
                          class="ti-input-sm">
                <auto-complete min-length="2" source="loadTags($query)"></auto-complete>
              </tags-input>
            </div>
            <a href class="copy pull-left list-group-item text-center"
               clip-copy="host + '/l/' + link.short" ng-click="copyClick(link)">
              <i class="fa" ng-class="link.copy ? 'fa-thumbs-o-up' : 'fa-clipboard'"></i>
            </a>
            <a href class="qrcode pull-left list-group-item text-center"
               ng-click="showQr = !showQr">
              <i class="fa" ng-class="showQr ? 'fa-image' : 'fa-qrcode'"></i>
            </a>
            <a href class="share-link pull-left list-group-item text-center"
               ng-click="socialShare(link)">
              <i class="fa fa-facebook"></i>
            </a>
            <a href class="favourite pull-left list-group-item text-center"
               ng-click="favourite(link)">
              <i class="fa" ng-class="link.isFavourite ? 'fa-star' : 'fa-star-o'"></i>
            </a>
          </div>

        </div>
      </div>

      <!--<div class="col-lg-12 list-view" ng-class="gridMode ? 'hidden' : ''">-->
        <!--<div class="row list-group-item pointer" ng-class="'panel-' + getLinkClass(link)" ng-click="goTo(link)">-->
          <!--<img ng-src="https://www.google.com/s2/favicons?domain={{link.link}}">&nbsp;{{link.title}}-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div>

  <div class="col-lg-12" ng-if="errorMess" ng-bind-html="errorMess">

  </div>

  <div class="col-lg-12" ng-if="!links.length && !pagePreloader">
    You currently have no links.
  </div>

  <div class="page-preloader text-center" ng-if="pagePreloader">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </div>

</div>